:root {
  --negro-0: #212121;
  --negro-1: #171717;
  --gris-0: #b3b3b3;
  --gris-1: #2e2e2e;
  --blanco-0: #E7E7E7;
  --azul-0: #007fd3;
  --azul-1: #004b7c;
  --rojo-0: #f88a8a;
  --rojo-1: #ff0c0c;
  --verde-0: #8af8a5;
  --verde-1: #0cff55;
}

img {
  width: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  font-size: 1.6rem;
  height: auto;
  margin: 0;
  background: #0F2027;
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
  background-repeat: no-repeat;
  color: var(--blanco-0);
}

#root {
  display: flex;
  justify-content: center;
  position: relative;
}

a {
  color: var(--gris-0);
  text-decoration: none;
}

.container-bg {
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(.5rem);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.register-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-div {
  height: 60rem;
  width: 120rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(10rem);
  border-radius: 2rem;
  box-shadow: 0px 10px 30px var(--negro-0);
}

.register-image {
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.register-image img {
  width: 50%;
}

.register-form {
  display: flex;
  flex-direction: column;
  border-left: .5rem solid var(--gris-1);
  height: 100%;
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  font-weight: 800;
  margin: 1rem 0;
  color: var(--gris-0);
}

.register-container-input {
  padding: 1rem;
  width: 100%;
}

.register-container-input input {
  color: var(--blanco-0);
  padding: .5rem;
  font-size: 1.4rem;
  background: none;
  border: none;
  width: 100%;
  border-bottom: .3rem var(--blanco-0) solid;
  margin: 1rem 0;
}

.register-container-input input:focus {
  background-color: rgba(255, 255, 255, .2);
}

.register-error {
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
  color: var(--blanco-0);
  border: .2rem solid var(--rojo-1);
  padding: .5rem;
  margin-bottom: 1rem;
  background-color: var(--rojo-0);
  display: none;
  font-weight: 700;
}

.register-button {
  width: 100%;
  padding: 1rem;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-button a {
  color: var(--gris-0);
  font-size: 1.4rem;
}

.register-button button {
  padding: 1rem 0;
  width: 20rem;
  background-color: var(--azul-0);
  color: var(--blanco-0);
  border: none;
  outline: none;
  border-radius: .5rem;
}

.register-button button:hover {
  cursor: pointer;
  background-color: var(--azul-1);
}

.success {
  border-color: var(--verde-1);
  background-color: var(--verde-0);
  color: var(--gris-1);
}



.login-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-div {
  flex-direction: column;
  height: 80rem;
  width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(10rem);
  border-radius: 2rem;
  box-shadow: 0px 10px 30px var(--negro-0);
  padding: 1rem;
}

.login-image {
  width: 70%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-image img {
  width: 50%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  font-weight: 800;
  margin: 1rem 0;
  color: var(--gris-0);
}

.login-container-input {
  padding: 1rem;
  width: 100%;
}

.login-container-input input {
  color: var(--blanco-0);
  padding: .5rem;
  font-size: 1.4rem;
  background: none;
  border: none;
  width: 100%;
  border-bottom: .3rem var(--blanco-0) solid;
  margin: 1rem 0;
}

.login-container-input input:focus {
  background-color: rgba(255, 255, 255, .2);
}

.login-error {
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
  color: var(--blanco-0);
  border: .2rem solid var(--rojo-1);
  padding: .5rem;
  margin-bottom: 1rem;
  background-color: var(--rojo-0);
  display: none;
  font-weight: 700;
}

.login-button {
  width: 100%;
  padding: 1rem;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button a {
  color: var(--gris-0);
  font-size: 1.4rem;
}

.login-button button {
  padding: 1rem 0;
  width: 20rem;
  background-color: var(--azul-0);
  color: var(--blanco-0);
  border: none;
  outline: none;
  border-radius: .5rem;
}

.login-button button:hover {
  cursor: pointer;
  background-color: var(--azul-1);
}

.guest-option {
  margin-top: 1rem;
}

.guest-option a {
  color: var(--gris-0);
}

.navbar {
  position: sticky;
  left: 0;
  top: 0;
  color: var(--negro-1);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem;
  background-color: rgba(0, 0, 0, .4);
}

.userdata-container {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  color: var(--blanco-0);
  align-items: center;
}

.userdata-img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  overflow: hidden;
  background-color: var(--blanco-0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.userdata-img img {
  width: 100%;
  height: auto;
}


.userdata-name {
  font-size: 2rem;
}

.navbar-buttons {
  width: auto;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar-login {
  padding: 1rem;
  color: var(--azul-1);
  border-radius: 1rem;
  background-color: var(--blanco-0);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-login:hover {
  background-color: var(--azul-1);
  color: var(--blanco-0);
}

.navbar-login svg {
  font-size: 2rem;
}

.navbar-logout {
  color: var(--rojo-1);
  background-color: var(--blanco-0);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.posts-container {
  background-color: rgba(0, 0, 0, .4);
  border-left: .1rem solid var(--gris-1);
  padding: 1rem;
}

.post {
  border-top: .1rem solid var(--gris-1);
  border-bottom: .1rem solid var(--gris-1);
  padding: 2rem 1rem;
  max-width: 60rem;
}


.post-title h2 {
  font-size: 2rem;
}

.post-autor {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.post-autor-img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  overflow: hidden;
  background-color: var(--blanco-0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-autor-img img {
  width: 100%;
  height: auto;
}

.post-description p {
  font-size: 1.5rem;
  margin: 3rem 0;
  overflow: auto;
  word-wrap: break-word;
}

.post-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-img-container img {
  max-width: 50rem;
  border-radius: 1rem;
  border: .1rem solid var(--gris-1);
}

.post-date p {
  font-size: 1.1rem;
  color: var(--gris-0);
}

.post-redirects {
  padding: 1rem;
  min-height: auto;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.post-redirects a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-redirects svg {
  width: 2rem;
  height: 2rem;
  color: var(--blanco-0);
}

.post-redirects svg:hover {
  color: var(--azul-0);
}

.controls-post {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.controls-post svg {
  height: 2rem;
  width: 2rem;
  color: var(--gris-0);
}

.controls-post a:first-child svg:hover {
  color: var(--rojo-0);
}

.controls-post a:last-child svg:hover {
  color: var(--azul-0);
}

.post-create-button {
  height: auto;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  color: var(--azul-0);
  background: none;
  outline: none;
  border: .1rem solid var(--azul-0);
}

.post-create-button:hover {
  color: var(--blanco-0);
  border-color: var(--blanco-0);
  cursor: pointer;
}

.modal_create_post {
  border-radius: 1rem;
  width: 70rem;
  height: fit-content;
  padding: 2rem 3rem;
  margin-top: 10rem;
  background-color: var(--negro-1);
  border: .1rem solid var(--gris-1);
}

.modal-close{
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.modal-close button{
  display: flex;
  justify-content: right;
  align-items: center;
  border: none;
  background:none;
  color: var(--gris-0);
}

.modal-close button:hover{
  cursor: pointer;
  color: var(--rojo-0);
}

.modal-close button svg{
  height: 2rem;
  width: 2rem;
}



.modal-body {
  margin: 2rem 0;
  height: auto;
}

.modal-body label {
  font-weight: 400;
}

.modal-title {
  display: flex;
  flex-direction: column;
}

.modal-title label {
  font-weight: 400;
}

.modal-title input {
  background-color: var(--gris-1);
  border: none;
  border-radius: 1rem;
  width: 100%;
  min-height: 4rem;
  padding: 1rem 2rem;
  margin: 1rem 0;
  color: var(--blanco-0);
  border: .1rem solid var(--gris-0);
}

.modal-text {
  background-color: var(--gris-1);
  border-radius: 1rem;
  resize: none;
  width: 100%;
  color: var(--blanco-0);
  min-height: 10rem;
  padding: 1rem 2rem;
  border: .1rem solid var(--gris-0);
}

.modal-img {
  display: flex;
  flex-direction: column;
}

.modal-img label {
  font-weight: 400;
  font-style: italic;
}

.modal-img input[type="text"] {
  background-color: var(--gris-1);
  border: none;
  border-radius: 1rem;
  width: 100%;
  min-height: 4rem;
  padding: 1rem 2rem;
  margin: 1rem 0;
  color: var(--blanco-0);
  border: .1rem solid var(--gris-0);
}

.modal-footer {
  border-top: .1rem solid var(--gris-1);
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: right;
}

.modal-footer button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: none;
  outline: none;
  border: .1rem solid var(--azul-0);
  color: var(--azul-0);
}

.modal-footer button:hover{
  cursor: pointer;
  background-color: var(--azul-0);
  color: var(--blanco-0);
}

.modal-container{
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
}

@media (width < 1024px) {
  .login-form {
    width: 90%;
  }

  .login-button,
  .register-button {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}